.subunit.KNX { fill: #ddc; }
.subunit.KOB { fill: #cdd; }
.subunit.KOD { fill: #cdc; }
.subunit.KOJ { fill: #dcd; }
.subunit.KOU { fill: #d0df8c; }
.subunit.KOX { fill: #eaf6b7; }
.subunit.KXI { fill: #B5C764; }

.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}



.subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 10px;
    font-weight: 300;
    text-anchor: middle;
}


.place,
.place-label {
    fill: #444;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    pointer-events: none;
}